// src/styles/components/_buttons.scss
@import '../variables';
@import '../mixins';

.btn {
  font-weight: 700;
  padding: $spacing-md $spacing-lg; // Adjusted padding to use spacing variables
  border-radius: $border-radius-sm; // Use smaller border-radius for a sharper look
  box-shadow: $shadow-deep; // Deeper shadow for buttons
  font-size: 1rem; // Slightly smaller font size for precision
  transition: all $transition-speed $transition-ease;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase; // Uppercase text for an engineered feel
  letter-spacing: 1px; // Add letter spacing

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-glow; // Subtle glow on hover
    transform: translateY(-2px); // Slight lift effect
  }

  &-primary {
    background-color: $accent-blue;
    color: $primary-background;
    border: 2px solid $accent-blue;

    &:hover {
      background-color: lighten($accent-blue, 10%);
      border-color: lighten($accent-blue, 10%);
    }
  }

  &-secondary {
    background-color: transparent;
    border: 2px solid $accent-green; // Accent green border for secondary
    color: $accent-green; // Accent green text

    &:hover {
      background-color: $accent-green;
      color: $primary-background;
      border-color: $accent-green;
    }
  }
}
